<div class="is-widescreen">
  <div class="columns pt-6">
    <div class="column" *ngIf="gameObject">
      <app-global-board [globalBoard]="gameObject.board" [currentPlayer]="gameObject.currentPlayer"
        (makeMoveEvent)="makeMove($event)"></app-global-board>
    </div>

    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-content">
          <p class="title">Start a new game</p>

          <app-game-options></app-game-options>

          <div class="content mt-5">
            <h6 class="subtitle is-6 has-text-centered">or</h6>
          </div>

          <div class="content">
            <div class="field">
              <div class="field">
                <button class="button is-danger is-rounded is-fullwidth" (click)="deleteGame()">Delete Game</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
