.container {
  padding: 25px;
  min-width: 150px;
  min-height: 150px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10px;
}

.focus {
  box-shadow: 5px 10px;
  background-color: white;
  /* border: 1px solid black; */
}

.player1Win {
  background-color: #ccf5ff;
}

.player2Win {
  background-color: #ffdbd5;
}

.draw {
  background-color: beige;
}

.block {
  display: flex;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
}

.player1Selectable:hover {
  cursor: pointer;
  background-color: deepskyblue;
}

.player1Mark {
  background-color: #46d7ff;
}

.player2Selectable:hover {
  cursor: pointer;
  background-color: red;
}

.player2Mark {
  background-color: #ff5f5c;
}

#block_0,
#block_1,
#block_2 {
  border-top: none;
}

#block_0,
#block_3,
#block_6 {
  border-left: none;
}

#block_6,
#block_7,
#block_8 {
  border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
  border-right: none;
}

.mark {
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 5px;
  transition: background 0.2s ease-in-out;
}
